.main_bar_Bitcoin {
  text-decoration: none;
  padding: 6px 10px;
  font-size: 17px;
  border: none;
  float: left;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main_bar_Bitcoin input {
  text-decoration: none;
  font-size: 17px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  border: black solid 1px;
  border-radius: 12px;
}

#search_Bitcoin_button,
#reset_Bitcoin_button,
#validated_Bitcoin_button,
#new_Bitcoin_button {
  color: white;
  background-color: #0a1845;
  border: none;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
  border-radius: 12px;
}
#invalid_Bitcoin_button {
  color: black;
  background-color: white;
  border: none;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
  border-radius: 12px;
  box-shadow: 3px 3px 3px 2px #888888;
}

table {
  width: 92%;
  text-decoration: none;
  border: none;
  text-align: center;
}
#Bitcoin_table_head {
  background-color: #0a1845;
  color: white;
}
#Bitcoin_table_head th {
  padding: 6px;
}
#Bitcoins_table {
  box-shadow: 0 4px 2px -2px rgb(192, 190, 190);
}
#Bitcoins_table td {
  padding: 16px;
}
#Bitcoin_status p {
  color: #5d8b75;
  background-color: #e6fcf0;
  margin: 0;
  padding: 7px;
  border-radius: 12px;
}
#Bitcoins_table_checkbox {
  margin-top: 22px;
}
